<ng-container *ngIf="!isLayoutAvailable()">
  <div class="item py-8 pr-8 computer only">
    <ng-container *ngFor="let contentType of contentTypes">
      <a aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType)" appOnlineOnly
				[ngClass]="{'active': selectedContentType === contentType.contentType}"
				class="item {{'item--' + getIcon(contentType)}}">
        {{getTitle(contentType)}}
      </a>
      <a aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (click)="showContentType(contentType)"
				[ngClass]="{'active': selectedContentType === contentType.contentType}"
				class="item {{'item--' + getIcon(contentType)}}">
        {{getTitle(contentType)}}
      </a>
    </ng-container>
  </div>
  <div class="item mobile only">
    <ng-container *ngFor="let contentType of contentTypes">
      <div class="profile__actions">
        <ul class="profile__actions__list pl-0">
          <li aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType);closeSideMenu.emit()" appOnlineOnly
              [ngClass]="{'active': selectedContentType === contentType.contentType}"
              class="list-item {{'item--' + getIcon(contentType)}}">
            {{getTitle(contentType)}}
          </li>
          <li aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (click)="showContentType(contentType);closeSideMenu.emit()"
              [ngClass]="{'active': selectedContentType === contentType.contentType}"
              class="list-item {{'item--' + getIcon(contentType)}}">
            {{getTitle(contentType)}}
          </li>
        </ul>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-container *ngIf="isLayoutAvailable() && !showBackButton">
  <div class="sb-linkmenu m-0 d-flex flex-ai-center" role="navigation" aria-label="Main menu" style="justify-content: center;">
    <ng-container *ngFor="let contentType of contentTypes">
      <a aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && contentType?.isOnlineOnly" tabindex="0" (click)="showContentType(contentType)" (keyup.enter)="showContentType(contentType)" appOnlineOnly
				[ngClass]="{'active': selectedContentType === contentType.contentType}"
				class="item {{'item--' + getIcon(contentType)}}" style="text-align: center; display: inline-block;">
        <!-- <span [ngClass]="'sb-icon sb-icon--sm mr-8 sb-icon__'+ getIcon(contentType)"></span> -->
        {{getTitle(contentType) | uppercase}}
      </a>
      <a aria-current="page" [attr.aria-selected]="selectedContentType === contentType.contentType ? true : false" *ngIf="contentType.isEnabled && !contentType?.isOnlineOnly && isDesktopApp" tabindex="0" (keyup.enter)="showContentType(contentType)" (click)="showContentType(contentType)"
        [ngClass]="{'active': selectedContentType === contentType.contentType}"
        class="item {{'item--' + getIcon(contentType)}}" style="text-align: center; display: inline-block;">
        <!-- <span [ngClass]="'sb-icon sb-icon--sm mr-8 sb-icon__'+ getIcon(contentType)"></span> -->
        {{getTitle(contentType) | uppercase}}
      </a>
    </ng-container>
  </div>
</ng-container>

<div style="background: black; display: flex; justify-content: space-between; width: 98.9vw; overflow: hidden; padding: 8px 20px; align-items: center;" *ngIf="getSelectedTab() !== 'home' && this.userService.loggedIn">
	<div style="float: left;">
		<img class="img" src="/assets/images/arrow-back.png" (click)="navBackToHome()" style="cursor: pointer;"/>
		<p style="color: #fff; margin-left: 10px; display: inline-block;">{{ ( getSelectedTab() === 'all' ? 'dashboard' : getSelectedTab() ) | uppercase}}</p>
	</div>
	<div *ngIf="getSelectedTab() === 'all'" style="display: flex; align-items: center; column-gap: 50px;">
		<p style="color: #fff; background: #E60000" (click)="showContentTypes ( 'Course' )">COURSES</p>
		<p style="color: #fff; background: #E60000" (click)="showContentTypes ( 'Learning Resource' )">RESOURCES</p>
	</div>
</div>