/*
 * Noto Nastaliq Urdu (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Helvetica.woff) format("woff"),
    url(./Helvetica.ttf) format("truetype");
}

/* 
 * scale.py 0.75 noto-nastaliqurdu/NotoNastaliqUrdu-Regular.ttf scaled/NotoNastaliqUrdu-Regular.ttf
 * scale.py 0.75 noto-nastaliqurdu/NotoNastaliqUrdu-Regular.woff scaled/NotoNastaliqUrdu-Regular.woff
 */
