.allign{
  display:flex;
  flex-direction: column;
}
.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 470px !important;

    height: 350px !important;

    min-height: inherit;
    max-height: inherit;
}

.headAllign{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 24px;

}
.buttonAllign{
  display:flex;
  justify-content: flex-end;
  height: 40px;

}
.input-length{
  width:100%;
  padding: 10px;
}
.submitAllign{
  margin-left: 20px !important;
}
::ng-deep {
.blue-snackbar {
  background-color: #2196F3 !important;
}
.red-snackbar {
  background-color: red !important;
}
.errorMessage{
color:red !important;
}
.successMessage{
color:green !important
}
}

.allignRadioButton{
  display:flex;

}
.allignNoButton{
  padding-left:23px;
}

.labelSize{

    font-size: 18px;
    font-weight: bold;
}
.btn{
  width: 126px;
  border-radius: 25px;
}