.allign{
  display:flex;
  flex-direction: column;
}
.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 470px !important;

    height: 350px !important;

    min-height: inherit;
    max-height: inherit;
}

.headAllign{
width: 80%;
    margin: auto;
    text-align: center;
}
.buttonAllign{
  display:flex;
  justify-content: flex-end;
  height: 35px;

}
.input-length{
  width:100%;
}
.submitAllign{
  margin-left: 20px !important;
}