<div class="headAllign">Check Eligibity</div>
<form [formGroup]="form">
  <label for="first-name">10th Percentage </label>
  <br>
  <input
    id="hsc-Percentage"
    type="text"
    formControlName="hscPercentage"
  >
  <br>
  <label for="first-name">12th Percentage </label>
  <br>
  <input
    id="ssc-Percentage"
    type="text"
    formControlName="sscPercentage"
  >
  <br>
  <label for="first-name">Graduation Percentage </label>
  <br>
  <input
    id="graduation-Percentage"
    type="text"
    formControlName="graduationPercentage"
  >
</form>
<br>
<!-- <button
  type="submit"
  [disabled]="!form.valid"
>Submit</button> -->

<div class="buttonAllign">
  <button class="mat-raised-button mat-warn">Cancel</button>
  <button class="mat-raised-button mat-primary">Submit</button>
</div>